<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style.css">
</head>

<!--
    複数クラスの組み合わせ
    上：Medium以上＝8列＋4列 / Medium未満＝12列（全幅）、2行目6列（半幅）
    下：Medium以上＝4列✙4列✙4列 / Medium未満=6列✙6列（全幅）、2行目6列（半幅）

-->
<body>
    <h3>ベース：全幅カラム＋半幅カラム、Medium以上：8列＋4列カラム</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">col-12とcol-md-8</div>
            <div class="col-6 col-md-4">col-6とcol-md-4</div>
        </div>
    </div>

    <h3>ベース：半幅カラム×３、Medium以上：4列カラム×３</h3>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">col-6とcol-md-4</div>
            <div class="col-6 col-md-4">col-6とcol-md-4</div>
            <div class="col-6 col-md-4">col-6とcol-md-4</div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    
</body>
</html>